.card {
    width: 100%;
    max-width: 364px;
    box-shadow: 0px 4px 30px 0px #00000014;
    border-radius: 10px;
  }
  
  .card__title {
    font-size: 15px;
    font-style: normal;
    font-weight: 500;
    line-height: 18px;
    margin: 0;
    margin-bottom: 9px;
    padding: 0;
    color: #FFFFFF;
  }
  
  .card__duration {
    margin: 0;
    padding: 0;
    font-size: 11px;
    line-height: 13px;
    color: #a0a0a0;
  }
  
  .card__title-section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 14px;
    background-color: #222222;
    border-radius: 10px;
  }
  
  .card__save-button {
    display: flex;
    align-items: center;
    width: 18px;
    height: 18px;
    background-color: #313131;
    border-color: white;
    border-radius: 50px;
  }

  .card__save-button_active {
    display: flex;
    align-items: center;
    width: 18px;
    height: 18px;
    background-color: #2BE080;
    border-color: white;
    border-radius: 50px;
  }
  
  .card__save-button:hover {
    opacity: .8;
    cursor: pointer;
  }
  
  .card__save-button_delete {
    background-image: url('../../images/movie-delete.svg');
    background-repeat: no-repeat;
    background-color: #222222;
    border: none;
  }
  
  .card__photo {
    max-height: 190px;
    object-fit: cover;
    width: 100%;
    border-radius: 10px;
  }
  
  @media screen and (max-width: 1023px) {
    .card {
      max-width: 339px;
    }
  }