.navigation__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
  }

  .navigation__container_type_login {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
  }
  .navigation__container_type_movies-login {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 1280px;
  }
  
  .navigation__link {
    text-decoration: none;
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
  }
  
  .navigation__link_type_signup {
    margin-right: 30px;
    color: white;
    transition: opacity .5s;
  }
  
  .navigation__link_type_signup:hover {
    opacity: .7;
  }
  
  .navigation__link_type_signin {
    color: rgb(0, 0, 0);
    background-color: #3DDC84;
    border-radius: 3px;
    transition: opacity .5s;
    padding: 8px 20px;
  }

  .navigation__container_type_movies {
    display: flex;
    justify-content: flex-end;
    margin-left: 44px;
  }

  .navigation__link_type_movies {
    color: #FFFFFF;
    font-size: 13px;
    line-height: 18px;
    padding: 0;
    transition: opacity .5s;
  }

  .navigation__link_type_movies:hover {
    opacity: .7;
  }

  .navigation__link_type_saved-movies {
    color: #FFFFFF;
    font-size: 13px;
    line-height: 18px;
    padding: 0;
    margin-left: 16px;
    transition: opacity .5s;
  }

  .navigation__link_type_saved-movies:hover {
    opacity: .7;
  }

  .navigation__link_type_profile {
    color: #FFFFFF;
    font-size: 13px;
    line-height: 18px;
    padding: 0;
    margin-right: 15px;
    transition: opacity .5s;
  }

  .navigation__link_type_profile:hover {
    opacity: .7;
  }

  .navigation__container-profile {
    display: flex;
    align-items: center;
  }
  
  .navigation__link_type_signin:hover {
    opacity: .7;
  }

  .navigation__link_type_movies-container {
    display: flex;
    align-items: center;
    padding: 0;
    margin-left: 44px;
  }

  .navigation__link_logo {
    background-color: #313131;
    border-radius: 50px;
    padding: 7px;
  }
  
  @media screen and (max-width: 1023px) {
    .navigation__burger-button {
      display: block;
    }
  
    .navigation__movies-block {
      display: none;
    }
  
    .navigation__login-block {
      display: none;
    }
  
    .navigation__burger-links-block {
      padding: 144px 10px 0px 10px;
    }
  
    .navigation__burger-link_type_account {
      margin-top: 444px;
    }
  }
  
  @media screen and (max-width: 767px) {
    .navigation__link {
      font-size: 10px;
    }

    .navigation__link_type_signup {
      margin-right: 14px;
    }

    .navigation__link_type_signin {
      padding: 5px 12px;
    }
  }