.header {
    width: 100%;
    margin: auto;
  }

  .header__wrapper {
    max-width: 1280px;
    margin: auto;
    background-color: #073042;
  }
  
  .header__container {
    height: 74px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 70px;
  }

  .header__container-movies {
    width: 100%;
    max-width: 1280px;
    height: 74px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }
  
  .header__logo {
    height: 38px;
  }
  
  @media screen and (max-width: 1023px) {
    .header__container {
      margin: 0 20px;
    }
    
    .header__wrapper {
      margin: 0 20px;
    }
  }
  
  @media screen and (max-width: 767px) {
    .header__container {
      margin: 0 14px;
    }
    
    .header__wrapper {
      margin: 0 14px;
    }
  }